@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #224941;
    color: white;
    font-family: 'Monserrat';
    min-height: 100vh;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

