* {
    box-sizing: border-box;
}

.link a {
    position: absolute;
    top: 20px;
    left: 20px;
}

body {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search {
    position: relative;
    width: 50px;
    height: 50px;
}

.btn {
    width: 50px;
    height: 50px;
    background: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    transition: width 0.5s ease;
    z-index: 1;
}

.search .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
